body {
  overflow-y: scroll;
  background-image: url("../ASSETS/LANDING\ PAGE/BGdesktop.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  font-family: 'Noto Music', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

/******/

.upload-button-container {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

#myDiv {
  margin-top: 60%;
}

.upload-button-container .upload-button-img {
  width: 75%;
  display: flex;
}

.upload-button-container .output-image {
  margin-bottom: 1rem;
  width: 100%;
  height: 100%;
  max-width: 720px;
  max-height: 505px;
}

.about-page {
  display: flex;
  margin-right: 6%;
  justify-content: flex-end;
}

.about-page img {
  margin-top: 5%;
  position: fixed;
  cursor: pointer;
  margin-right: 8%;
  width: 170px;
}

/******/


.overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.overlay__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.05);
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

.logo-container {
  /* display: flex;
  flex-direction: row; */
  /* justify-content: space-between; */
  align-items: center;
  margin: 1.5rem 3rem;
}

.logo-img {
  cursor: pointer;
  width: 25%;
  /* max-width: 100%;
  min-width: 90%; */
}



@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loading-overlay {
  display: none;
  background: rgba(87, 87, 87, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
}

/* #myDiv{
  margin:20rem;
} */


/* Mobile styling */

@media only screen and (max-width: 1200px) {
  body {
    overflow: scroll;
    background-image: url("../ASSETS/LANDING\ PAGE/BGmobile.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  .logo-container {
    text-align: center;
    margin: 4rem;
  }

  .logo-img {
    width: 90%;
  }

  .output-image {
    width: 100%;
    max-width: 790px;
  }

  #myDiv {
    margin-top: 50%;
  }

  .upload-button-container {
    display: flex;
    justify-content: center;
    margin-top: 50%;
  }

  .upload-button-container .upload-button-img {
    width: 400px;
    display: flex;
  }

  /* .upload-button-container{
    
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  } */

  /* .upload-button-container .upload-button-img{
    width: 100%;
    display: flex;
  } */

  .about-page {
    margin: 0 4rem 0 4rem;
    justify-content: center;
  }

  .about-page img {
    bottom: 0;
    margin-bottom: 5%;
    width: 350px;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }

  /* .upload-button-container .output-image{
    height: 100%;
    width: 100%;
  } */
}